body {
	/* background-color: skyblue; */
	/* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.gallery {
	padding: 80px;
	background-color: #b3d9ff;
	/* margin-top: 10px; */
}

.navbar-brand {
	font-size: 30px;
	transition: all 0.35s ease-in;
}

.navbar-brand:hover {
	transform: translateY(10px);
	font-size: 35px;
}

.nav-item {
	font-size: 20px;
}

.gallery img {
	max-width: 100%;
	width: 500px;
	height: 200px;
	padding: 5px;
	/* background-color: aquamarine; */
	border-radius: 20px;
	/* box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); */
	cursor: pointer;
}

#gallery-popup .modal-img {
	width: 100%;
}

.card-effect {
	box-shadow: 0 8px 22px rgba(0, 0, 0, 0.1);
	transition: all 0.35s ease-in;
}

.card-effect:hover {
	box-shadow: none;
	transform: translateY(20px);
}



footer {
	font-size: 15px;
	margin: 10px 0;
    background-color: #e6e6e6;
    padding: 10px 0;

}

footer a {
	text-decoration: none;
	color: black;
}

footer i {
	font-size: 15px;
	padding: 5px;
	color: darkblue;
}

.judul-sec {
	transition: all 0.5s ease-out;
}

.judul-sec:hover {
	transform: translateX(20px);
}