<section>
	<div class="container mt-3">
		<h3 class="mb-2">List Car</h3>
		<button type="button" class="btn btn-primary" onclick="showAllMobil()">All</button>
		<button type="button" class="btn btn-primary">Small</button>
		<button type="button" class="btn btn-primary">Medium</button>
		<button type="button" class="btn btn-primary">Large</button>
	</div>
</section>

<!-- <section id="hasil-section" style="display: none">
	<div class="container">
		<div id="kartu" class="row row-cols-1 row-cols-md-3 g-4 justify-content-center">

		</div>

	</div>
	</div>
</section> -->
